@model PaginationModel

@{
  ViewData["Title"] = "Історичні пам'ятки";
  ViewBag.CurrentUrl = "~/historical-monuments";
  
  List<string> cityNames = ViewBag.Cities;
  List<string> classificationNames = ViewBag.Classifications;
  List<string> countryNames = ViewBag.Countries;
  
  var historicalMonuments = Model.HistoricalMonuments;
  var pages = Model.Pages;
  var currentPage = Model.CurrentPage;
}

<div class="container-fluid filters-nav">
    <div class="row">
        <nav>
            <div class="align-content-center">
                <ul class="nav flex-row justify-content-center">
                    <li class="nav-item dropdown">
                        <button class="nav-link dropdown-toggle" style="border: none; background-color: white">Міста</button>
                        <div class="dropdown-options row">
                            @foreach (var cityName in cityNames)
                            {
                                <a href="~/historical-monuments/city?page=1&categoryOption=@cityName" class="col">@cityName</a>
                            }
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="nav-link dropdown-toggle" style="border: none; background-color: white">Категорії</button>
                        <div class="dropdown-options row">
                            @foreach (var classificationName in classificationNames)
                            {
                                <a href="~/historical-monuments/classification?page=1&categoryOption=@classificationName" class="col">@classificationName</a>
                            }
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="nav-link dropdown-toggle" style="border: none; background-color: white">Країни</button>
                        <div class="dropdown-options row">
                            @foreach (var countryName in countryNames)
                            {
                                <a href="~/historical-monuments/country?page=1&categoryOption=@countryName" class="col">@countryName</a>
                            }
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/historical-monuments">
                            Скинути
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<a class="export-btn" asp-controller="HistoricalMonumentsFilter" asp-action="Export">Експортувати</a>

<form action="~/historical-monuments/all">
    <div class="search-container">
    <div class="input-group mb-3 search-form">

            <input type="search" class="form-control" placeholder="Назва Пам'ятки" aria-label="Назва Пам'ятки" aria-describedby="basic-addon2" name="searchString">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary">Пошук</button>
      </div>

    </div>
  </div>
  
</form>


<div class="container ">
    <div class="row row-cols-lg-6 justify-content-center">

    @foreach (var item in historicalMonuments)
    {
      <div class="card mb-4 me-lg-2" style="width: 18rem;">
        <img class="card-img-top w-100 h-100" src="@item.Photo" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">@item.Name</h5>
          <p class="card-text">@item.Description.Substring(0, 70)...</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p class="para-no-margin">Країна: @item.City.Country.Name</p>
            <p class="para-no-margin">Місто: @item.City.Name</p>
          </li>
          <li class="list-group-item">Категорія: @item.Classification.Name</li>

        </ul>
        <div class="card-body">
          <a href="~/HistoricalMonuments/Details/@item.Id" class="btn btn-primary">Деталі</a>

        </div>
      </div>
    }


  </div>
</div>

<div class="pagination-center ">
  
    
      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-margin">
            <li class="page-item"><a class="page-link" href="~/historical-monuments/@Model.Category?page=@(currentPage - 1 >= 1 ? currentPage - 1 : currentPage)&categoryOption=@Model.CategoryOption">Попередня</a></li>
            @for (int i = 1; i <= pages; i++)
          {
                <li class="page-item"><a class="page-link" href="~/historical-monuments/@Model.Category?page=@i&categoryOption=@Model.CategoryOption">@i</a></li>
          }
            <li class="page-item"><a class="page-link" href="~/historical-monuments/@Model.Category?page=@(currentPage + 1 <= pages ? currentPage + 1 : currentPage)&categoryOption=@Model.CategoryOption">Наступна</a></li>
         
        </ul>
      </nav>
    
  
</div>

