@model HistoricalMonumentsWebApplication.Models.HistoricalMonument

@{
    ViewData["Title"] = $"{Model.Name}";
    Layout = "_Layout";
}
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
    }

    .container2 {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .monument {
        text-align: center;
        margin-bottom: 30px;
    }

        .monument h1 {
            font-size: 36px;
            color: #333;
            margin: 20px 0;
            text-transform: uppercase;
        }

        .monument img {
            max-width: 100%;
            border-radius: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

    .details {
        padding: 20px;
        border-radius: 20px;
        background-color: #f9f9f9;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

        .details h2 {
            font-size: 24px;
            color: #333;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        .details p {
            font-size: 18px;
            color: #555;
            line-height: 1.6;
            margin-bottom: 15px;
        }

        .details .field {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }

            .details .field span {
                font-weight: bold;
            }
</style>

<div class="container2">
    <div class="monument">
        <h1>@Model.Name</h1>
        <img src="~/phostos/XOT001-e1530490453385-1024x576.jpg" alt="Historical Monument">
    </div>
    <div class="details">
        <div class="field">
            <span>Початок будівництва:</span>
            <span>@Model.StartingYear</span>
        </div>
        <div class="field">
            <span>Кінець будівництва:</span>
            <span>@Model.EndingYear</span>
        </div>
        
        <div class="field">
            <span>Місто:</span>
            <span>@Model.City.Name</span>
        </div>
        <div class="field">
            <span>Категорія:</span>
            <span>@Model.Classification.Name</span>
        </div>
        <div class="field">
            <span>Статус:</span>
            <span>@Model.Status.Name</span>
        </div>
        <div class="field">
            <span>Опис:</span>
            <span>@Model.Description</span>
        </div>
    </div>
</div>
@* <h1>@Model.Name</h1>

<div>
    <h4>Категорія: @Model.Classification.Name</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartingYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartingYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndingYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndingYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classification.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Name)
        </dd>
    </dl>
</div>

 *@